# copy files: cp pubobot.service /etc/systemd/system
# enable service: sudo systemctl daemon-reload
# sudo systemctl enable --now pubobot
# sudo systemctl start pubobot
# sudo systemctl status pubobot
# sudo journalctl -u pubobot
[Unit]
Description=Pubobot

[Service]
Type=simple
WorkingDirectory=/root/PUBobot2
ExecStart=/root/PUBobot2/pyenv/bin/python3 /root/PUBobot2/PUBobot2.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target