[Unit]
Description=Pubobot

[Service]
Type=simple
WorkingDirectory=/root/PUBobot2/pyenv/bin
ExecStart=/root/PUBobot2/pyenv/bin/python3 /root/PUBobot2/PUBobot2.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target